.DashboardContainer {


    .carosalImg {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 89vh;
      }
    
      .carosalImg img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 89vh;
      }
}